<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.1.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.7-ci195" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.6.0-ci195" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2-beta1" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net48" />
</packages>